{{ partial "head.html" . }}

<div class="post section">
	<div class="container">
		<div class="post--content">
			<div class="post--header">
				<h2 class="post--title">{{ .Title | safeHTML }}</h2>
				{{with .Section}}<span class="post--date">{{ $.Date.Format "2 Jan 2006" }}</span>{{end}}
			</div>
			<div class="post--body markdown">{{ .Content }}</div>
		</div>
	</div>
	{{with .Params.photo }}
	<div class="photos" {{with $.Params.background }}style="background: {{.}};"{{end}}>
		{{ range $index, $photo := . }}
		{{ $basePath := add "/" (add $.Section (add "/" (add $.Source.BaseFileName (add "/" .name)))) }}
		<div class="container container-wide photos--photo">
			<a href="{{ $basePath }}.jpg" class="photo">
				<picture>
					<!--[if IE 9]><video style="display: none;"><![endif]-->
					<source srcset="{{ $basePath }}/large@1x.jpg, {{ $basePath }}/large@2x.jpg 2x" media="(min-width: 768px)">
					<source srcset="{{ $basePath }}/medium@1x.jpg, {{ $basePath }}/medium@2x.jpg 2x" media="(min-width: 421px)">
					<!--[if IE 9]></video><![endif]-->
					<img class="photo--image" srcset="{{ $basePath }}/small@1x.jpg, {{ $basePath }}/small@2x.jpg 2x" alt="…">
				</picture>
				<div class="photo--caption">
					<div class="photo--caption-content">{{add $index 1}}{{with .text }}. {{.}}{{end}}</div>
				</div>
			</a>
		</div>
		{{ end }}
	</div>
	{{ end }}

</div>

{{ partial "footer.html" }}
