<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>{{ .Site.Title }}</title>
	<link rel="stylesheet" href="http://adobe-fonts.github.io/source-sans-pro/source-sans-pro.css" async />
	<link rel="stylesheet" type="text/css" href="/style.css" async/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
	<div class="section section-header">
		<div class="container">
			<div class="header">
				<h1 class="header--title"><a href="/">Ekaterina Korol</a></h1>
				<ul class="header--menu">
					<li class="header--item"><a href="/photos">Photo</a></li>
					<li class="header--item"><a href="/music">Live music</a></li>
					<li class="header--item"><a href="/info">Info</a></li>
				</ul>
			</div>
		</div>
	</div>
